.form {
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  background-color: #ffffff;
  border: 1px solid #F5F5F5;
  border-radius: 2px;
  box-shadow: 0 10px 35px -15px rgba(0, 0, 0, 0.2);
}

.form__input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-family: inherit;
  font-size: 1em;
  border: 2px solid #F5F5F5;
}

.form__input:focus {
  border-color: #03a9f4;
  outline: none;
}

.form__footer {
  padding-top: 20px;
}

.form__submit {
  margin: 0 10px;
}