* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #fdfdfd;
}

.section {
  padding: 30px 15px;
}

.section__title {
  margin-bottom: 30px;
  text-align: center;
}

.section__form {
  width: 100%;
}

.section__block {
  margin: 30px 0;
}

.info {
  padding: 15px;
  background-color: rgba(3, 169, 244, 0.05);
  border: 2px solid #03a9f4;
}

.button {
  padding: 10px 30px;
  color: #03a9f4;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #03a9f4;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #028ECD;
  border-color: #028ECD;
  outline: none;
}

.button--red {
  color: #ff2d21;
  border-color: #ff2d21;
}

.button--red:hover,
.button--red:focus {
  color: #e23e35;
  border-color: #e23e35;
  outline: none;
}

.errors-box {
  padding: 10px;
  text-align: left;
  background-color: rgba(244, 67, 54, 0.05);
  border: 2px solid #f44336;
}

.errors-box__item {
  color: #f44336;
  font-size: 0.85em;
  line-height: 1.4em;
}