* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #fdfdfd;
}

.section {
  padding: 30px 15px;
}

.section__title {
  margin-bottom: 30px;
  text-align: center;
}

.section__form {
  width: 100%;
}

.info {
  padding: 15px;
  background-color: rgba(3, 169, 244, 0.05);
  border: 2px solid #03a9f4;
}

.button {
  padding: 10px 30px;
  color: #03a9f4;
  font-size: 1em;
  font-weight: 600;
  background-color: transparent;
  border: 2px solid #03a9f4;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #028ECD;
  border-color: #028ECD;
  outline: none;
}